# Files to ignore when considering what GIT should commit.
# Visual Studio 
*.sln.docstates
*.obj
*.pch
*.tlog
*.log
*.scc
*.exp
*.ilk
*.lastbuildstate
*.opensdf
*.suo
*.idb
*.iobj
*.ipdb
*.cache
*.pdb
*.sdf
*.user
*.vs
*.CopyComplete
*/Debug
*/Release
*/x64
*.vs